<h3>{{var_one|lowercase}}</h3>
<h3>{{var_two|uppercase}}</h3>
<h3>{{var_three|currency}}</h3>
<h3>{{var_three|currency:'INR'}}</h3>
<h3>{{var_four|date}}</h3>
<h3>{{var_four|date:'dd/MMM/yyyy'}}</h3>
<h3>{{var_four|date:'short'}}</h3>
<h3>{{var_four|date:'medium'}}</h3>
<h3>{{var_four|date:'fullDate'}}</h3>
<h3>{{var_four|date:'longDate'}}</h3>

<h3>{{var_five|number:'5.1-3'}}</h3>

<h3>{{var_six|slice:1:4}}</h3>
<h3>{{var_seven|json}}</h3>

<h3>{{var_eight|async}}</h3>

<h3>{{var_nine|reverse}}</h3>

<h3>{{"Angular13"| msg:"to":"welcome" }}</h3>

